@import '../Commons.scss';

.signIn_entire_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(250,250,250);

    h1 {
        font-size: 3.3rem;
        margin-bottom: 50px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        input {
            padding: 10px;
            width: 350px;
            height: 70px;
            border-radius: 10px;
            margin: 10px;
            text-align: center;

            &::placeholder {
                text-align: center;
            }
        }
    }
}


.loginBtn {
    cursor: pointer;
    width: 150px;
    height: 70px;
    border: 0;
    border-radius: 50px;
    margin-top: 40px;
    background-color: rgb(182, 127, 255);
    font-size: 1.1rem;
    font-weight: bold;
    color:white;
}
